:global(.toast) {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    padding: 8px 16px;
    border: 1px solid #909399;
    border-radius: 4px;
    background-color: #909399;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    text-align: center;
    font-size: 12px;
}

:global(.toast--error) {
    border: 1px solid #f56c6c;
    background-color: #f56c6c;
}

:global(.toast--warning) {
    border: 1px solid #e6a23c;
    background-color: #e6a23c;
}

:global(.toast--success) {
    border: 1px solid #67c23a;
    background-color: #67c23a;
}